<!DOCTYPE html>
<html>
<head>
  <title>Rubocop results</title>
  <style type="text/css" media="screen">
  
    body {
      font: normal 1em Verdana, sans-serif;
    }
    
    h1, h2, h3 {
      font-weight: 400;
      font-size: 1em;
    }
    
    pre {
      background-color: #F2F2F2;
    }
  </style>
</head>
<body id="results">
  
  <%#= @results['files'] %>
  

  <pre>
    <%= @results %>
  </pre>
  
</body>
</html>